---
layout: layout.njk

pagination: 
  data: songs
  size: 10
---

{% include "components/player.njk" %}
<section class="list">
  {% if pagination.items[0].id == pagination.pages[0][0].id %}

  <h2 class="list__header">
    
    {{ sectionTitle }}</h2>

    {% endif %}
  <ul class="songs">
    {% for song in pagination.items %}
    <li class="list__item">
      <article
        class="card js-song"
        role="button"
        aria-label="display"
        data-videoid="{{song.videoId}}"
      >
        <div class="img-container">
          <img
            class="card__img"
            src="{{song.thumbnail}}"
            alt="Video thumbnail"
          />
        </div>
        <div class="card__content">
          <div class='card__meta'>
            <p class="card__title title">{{ song.Title }}</p>
            <p class="card__artist artist">{{ song.Artist }}</p>
            <p class="card__tags tags">{{ song.Tags }}</p>
          </div>
          <div class="card__comment">
            <p class="secondary-label">Editor's review</p>
            <p>{{ song.Comment }}</p>
          </div>
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
{% include "components/pagination.njk" %}

